<div class="nice-place-item" [ngClass]="{liked : likeButtonText == 'Je n\'aime plus !'}">
    <h2>{{ nicePlace.title | uppercase }}</h2>
    <p>{{ nicePlace.description }}</p>
    <img alt="{{ nicePlace.title }}" [src]="nicePlace.imageUrl" >
    <p>Mise en ligne le : {{ nicePlace.createDate  | date:'le d MMMM yyyy : HH:mm:ss' }}</p>
    <p>Lieu : {{ nicePlace.location }}</p>
    <p *ngIf="nicePlace.tag">Tag : {{ nicePlace.tag }}</p>
    <p>Score : 
        <span class="score" [ngStyle]="{ width: (nicePlace.score*100)+'px' }">
            {{ nicePlace.score | percent: '1.0-0' }}
        </span>
    </p>
    <p>
        <button (click)="onLike()">{{ likeButtonText }}</button>
        🤟 {{ nicePlace.likes }}
    </p>
    <h3>Commentaires</h3>
    <div class="commentaires">
        <p>In Dev</p>
    </div>
</div>