.nice-place-item{
    width: 35%;
    border: 1px solid black;
    padding: 1%;
    img{
        width: 50%;
    }
    .score{
        display: inline-block;
        background-color: red;
        color: white;
    }
}