<div class="nice-place-item">
    <h2>{{ nicePlace.title }}</h2>
    <p>{{ nicePlace.description }}</p>
    <img alt="{{ nicePlace.title }}" [src]="nicePlace.imageUrl" >
    <p>Mise en ligne le : {{ nicePlace.createDate }}</p>
    <p>Lieu : {{ nicePlace.location }}</p>
    <p *ngIf="nicePlace.tag">Tag : {{ nicePlace.tag }}</p>
    <p>Score : 
        <span class="score" [ngStyle]="{ width: (nicePlace.score*100)+'px' }">
            {{ nicePlace.score }}
        </span>
    </p>
    <p>
        <button (click)="onLike()">{{ likeButtonText }}</button>
         {{ nicePlace.likes }}
    </p>
</div>