.comment-item{
    box-sizing: border-box;
    width: 90%;
    margin: 0 auto;
    padding: 2%;
    p{
        font-weight: 300;
        font-size: 16px;
    }
    img{
        max-width: 40px;
        border: 1px solid rgba(0, 0, 0, 0.5);
        border-radius: 50%;
    }
    .author{
        display: inline-block;
    }
    .content{
        color: rgba(0, 0, 0, 0.75);
    }
}